@font-face {
    font-family: 'silkscreen';
    src: url("/font/Silkscreen-Regular.ttf");
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Silkscreen', sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 5px solid black;
    margin: 10px;
}
p{
    padding: 10px;
}
#logo{
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /*flex-basis: 100%;*/
    flex-grow: 2;
}
header nav{
    flex-grow: 1;
}
header ul{
    list-style: none;
}
header ul li{
    display: flex;
    border: 5px solid black;
    margin: 10px;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
header ul li:hover {
    background-color: gray;
}
header ul a{
    text-decoration: none;
    color: black;
}
main #face{
    margin: 10px;
    width: 10rem;
    float: left;
    background-color: white;
    animation: face 5s infinite linear;
}
@keyframes face {
    0%{
        background-color: crimson;
    }
    25%{
        background-color: black;
    }
    75%{
        background-color: #f8a400;
    }
    100%{
        background-color: blue;
    }
}
.float-left{
    float: left;
    max-width: 150px;
    margin: 10px;
}
.float-right{
    float: right;
    max-width: 150px;
    margin: 10px;
}
h1, h2, h3{
    border-bottom: 5px solid black;
    margin: 10px;
}
.full{
    border: 3px solid black;
    padding: 3px;
}
.full:hover{
    background-color: gray;
}
.full a{
    text-decoration: none;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    border-top: 5px solid black;
}
footer div{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 20px;
    margin-top: 25px;

}
.bold{
    font-weight: 900;
}
.par{
    margin-left: 1.5em;
}
.img-div-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-div-container img {
    margin: 10px;
    width: 100%;
    max-width: 1080px;
    max-height: 560px;
}
.img-div-container figcaption{
    height: 20%;
    flex-basis: 100%;
    margin-bottom: 1em;
}
.external-link{
    color: crimson;
    padding-right: 25px;
    background: url("/images/External_link_font_awesome.svg.png") right / 20px no-repeat;
}
.external-link:hover{
    color: gray;
}
.video-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.video-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    margin: 10px;
}
.video-container iframe{
    width: 100%;
    max-width: 960px;
    height: 20em;
}
.video-container figcaption{
    max-width: 960px;
}

#contact-form{
    display: flex;
    flex-direction: column;
}
form{
    display: flex;
    margin: 10px;
    flex-direction: column;
    padding: 15px;
}
#contact-form p{
    padding: 0;
    margin-bottom: 0.7rem;
}
#contact-form .text-input-label{
    width: 250px;
    display: inline-block;
    text-align: right;
}
#contact-form .text-input{
    width: 250px;
}
#contact-form div{
    margin-top: 1rem;
}
#contact-form button{
    margin-top: 1rem;
    width: 100px;
    height: 2em;
}

@media screen and (min-width: 30em){
    #contact-form .text-input-label{
        display: inline-block;
        text-align: right;
    }
}
@media screen and (min-width: 48em){
    header{
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    header nav{
        flex-direction: row;
    }
    header nav ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    #logo{
        justify-content: flex-start;
    }
    .gallery{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

    }
    .img-div-container{
        flex-basis: calc(50% - 50px);
        margin: 25px;
    }
    .gallery figure img{
        width: 450px;
       height: 270px;
    }
    .video-container {
        display: flex;
        flex-basis: 40%;
        flex-direction: column;
    }
    #contact-form .text-input-label{
        width: 250px;
        display: inline-block;
        text-align: right;
    }
}
@media screen and (min-width: 64em) {
    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    .img-div-container{
        flex-basis: calc(30% - 50px);
        margin: 25px;
    }
    .gallery figure img{
        width: 450px;
        height: 270px;
    }
}
